#### ONLC: Python for Data Science


<a data-flickr-embed="true"  href="https://www.flickr.com/photos/kirbyurner/27963484878/in/album-72157693427665102/" title="Barry at Large"><img src="https://farm1.staticflickr.com/969/27963484878_b38f0db42a_m.jpg" width="240" height="180" alt="Barry at Large"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

# DATA SCIENCE WITH PYTHON


# Pandas Periods

In [1]:
import pandas as pd
from pandas import Series, DataFrame, Period, Timestamp
import numpy as np

In [2]:
p = Period(2007, freq='A-DEC')  # an interval from Jan 1 to Dec 31, 2007
p

Period('2007', 'A-DEC')

In [3]:
p + 5

Period('2012', 'A-DEC')

In [4]:
p - 2

Period('2005', 'A-DEC')

In [5]:
p - Period(2000, freq='A-DEC')

7

In [6]:
rng_years = pd.period_range('1/1/2000', '1/1/2018', freq='Y')

In [7]:
rng_years

PeriodIndex(['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
             '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
             '2016', '2017', '2018'],
            dtype='period[A-DEC]', freq='A-DEC')

In [8]:
rng_months = pd.period_range('1/1/2000', '1/1/2018', freq='M')

In [9]:
rng_months

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06',
             '2000-07', '2000-08', '2000-09', '2000-10',
             ...
             '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09',
             '2017-10', '2017-11', '2017-12', '2018-01'],
            dtype='period[M]', length=217, freq='M')

In [10]:
type(rng_months)

pandas.core.indexes.period.PeriodIndex

In [11]:
s = Series(np.random.randn(len(rng_years)), index=rng_years)
s

2000    1.274167
2001   -0.765618
2002   -0.334701
2003   -1.401214
2004   -0.496662
2005    0.081474
2006   -0.863796
2007    1.551216
2008   -0.854024
2009    0.732155
2010   -0.047167
2011   -0.221816
2012   -0.130011
2013    0.248046
2014   -0.739573
2015   -0.748420
2016    0.038207
2017    1.352266
2018   -0.525254
Freq: A-DEC, dtype: float64

In [12]:
s.index

PeriodIndex(['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
             '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
             '2016', '2017', '2018'],
            dtype='period[A-DEC]', freq='A-DEC')

In [13]:
rng_years

PeriodIndex(['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
             '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
             '2016', '2017', '2018'],
            dtype='period[A-DEC]', freq='A-DEC')

In [14]:
rng_years.asfreq('M', how='start')

PeriodIndex(['2000-01', '2001-01', '2002-01', '2003-01', '2004-01', '2005-01',
             '2006-01', '2007-01', '2008-01', '2009-01', '2010-01', '2011-01',
             '2012-01', '2013-01', '2014-01', '2015-01', '2016-01', '2017-01',
             '2018-01'],
            dtype='period[M]', freq='M')

In [15]:
rng_years.asfreq('M', how='end')

PeriodIndex(['2000-12', '2001-12', '2002-12', '2003-12', '2004-12', '2005-12',
             '2006-12', '2007-12', '2008-12', '2009-12', '2010-12', '2011-12',
             '2012-12', '2013-12', '2014-12', '2015-12', '2016-12', '2017-12',
             '2018-12'],
            dtype='period[M]', freq='M')

In [16]:
rng_years.asfreq('D', how='end')

PeriodIndex(['2000-12-31', '2001-12-31', '2002-12-31', '2003-12-31',
             '2004-12-31', '2005-12-31', '2006-12-31', '2007-12-31',
             '2008-12-31', '2009-12-31', '2010-12-31', '2011-12-31',
             '2012-12-31', '2013-12-31', '2014-12-31', '2015-12-31',
             '2016-12-31', '2017-12-31', '2018-12-31'],
            dtype='period[D]', freq='D')

In [17]:
rng_months.asfreq('D', how='end')

PeriodIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30',
             '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
             '2000-09-30', '2000-10-31',
             ...
             '2017-04-30', '2017-05-31', '2017-06-30', '2017-07-31',
             '2017-08-31', '2017-09-30', '2017-10-31', '2017-11-30',
             '2017-12-31', '2018-01-31'],
            dtype='period[D]', length=217, freq='D')

In [ ]:
fiscal_year = Period('2007', freq='A-JUN')

In [ ]:
fiscal_year.asfreq('M', 'start')

In [ ]:
fiscal_year.asfreq('M', 'end')

In [ ]:
fiscal_year.asfreq('D', 'start')

In [ ]:
fiscal_year.asfreq('D', 'end')

## Quarterly Period Frequencies

In [ ]:
p = Period('2018Q4', freq='Q-JAN')

In [ ]:
p

In [ ]:
p.asfreq('D', 'start')

In [ ]:
p.asfreq('D', 'end')

In [ ]:
p.asfreq('Y', 'start')

In [ ]:
p.asfreq('M', 'start')

In [ ]:
p.asfreq('M', 'start') + 3

In [ ]:
p.asfreq('Q-JAN', 'start')

In [ ]:
p.asfreq('Q-JAN', 'end')

In [ ]:
p.asfreq('Q', 'end')

## Timestamps to Periods (and Back)

In [ ]:
rng = pd.date_range('1/1/2018', periods=6, freq='M')

In [ ]:
rng

In [ ]:
ts = Series(np.random.randn(6), index=rng)

In [ ]:
ts

In [ ]:
pts = ts.to_period()

In [ ]:
pts

In [ ]:
rng = pd.date_range('1/28/2018', periods=10, freq='D')
ts2 = Series(np.random.randn(len(rng)), index=rng)

In [ ]:
ts2

In [ ]:
ts2.to_period('M')

In [ ]:
pts

In [ ]:
pts.to_timestamp(how='end')

In [ ]:
pts.to_timestamp(how='start')

In [ ]:
pts2 = ts2.to_period('M')

In [ ]:
pts2

In [ ]:
pts2.to_timestamp(how='end')

In [ ]:
ts

In [ ]:
%matplotlib inline
ts.plot(kind="bar")

In [ ]:
ts.plot(kind="line")

### LAB CHALLENGE:  

Using documentation (of course!) create a horizontal bar graph from the same data (ts).