#### ONLC: Python for Data Science

# Pandas:  The Frame around the Canvas

Lets create a Pandas Dataframe using random numbers shaped in a 10x3 matrix, with named column headers...

In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.rand(10, 3), columns=['c1', 'c2', 'c3'])
df

         c1        c2        c3
0  0.171403  0.685214  0.638226
1  0.028701  0.361324  0.496144
2  0.480669  0.541017  0.641504
3  0.550829  0.690439  0.720744
4  0.448383  0.209636  0.417981
5  0.594875  0.902395  0.413246
6  0.658745  0.413589  0.566491
7  0.573500  0.881381  0.633645
8  0.442214  0.354121  0.953660
9  0.207672  0.344785  0.212565

In [2]:
df.index = list("abcdefghij")  # splits into individual letters

In [3]:
df

         c1        c2        c3
a  0.171403  0.685214  0.638226
b  0.028701  0.361324  0.496144
c  0.480669  0.541017  0.641504
d  0.550829  0.690439  0.720744
e  0.448383  0.209636  0.417981
f  0.594875  0.902395  0.413246
g  0.658745  0.413589  0.566491
h  0.573500  0.881381  0.633645
i  0.442214  0.354121  0.953660
j  0.207672  0.344785  0.212565

Using .loc means using labels.  Slice them, list them, or use them singly.

In [4]:
df.loc['a':'e','c2']  # inclusive

a    0.685214
b    0.361324
c    0.541017
d    0.690439
e    0.209636
Name: c2, dtype: float64

In [5]:
data = df.loc[['a','e'],'c2']
print(data)
type(data)

a    0.685214
e    0.209636
Name: c2, dtype: float64

pandas.core.series.Series

In [6]:
data.name

'c2'

In [7]:
data.shape

(2,)

In [8]:
data = df.loc[['a','e'],['c2']]
print(data)
type(data)

         c2
a  0.685214
e  0.209636

pandas.core.frame.DataFrame

In [9]:
data.size

2

In [10]:
data.shape

(2, 1)

In [11]:
df

         c1        c2        c3
a  0.171403  0.685214  0.638226
b  0.028701  0.361324  0.496144
c  0.480669  0.541017  0.641504
d  0.550829  0.690439  0.720744
e  0.448383  0.209636  0.417981
f  0.594875  0.902395  0.413246
g  0.658745  0.413589  0.566491
h  0.573500  0.881381  0.633645
i  0.442214  0.354121  0.953660
j  0.207672  0.344785  0.212565

In [12]:
print(df.c1)
type(df.c1)

a    0.171403
b    0.028701
c    0.480669
d    0.550829
e    0.448383
f    0.594875
g    0.658745
h    0.573500
i    0.442214
j    0.207672
Name: c1, dtype: float64

pandas.core.series.Series

In [13]:
df.c1.mean()

0.41569893442735195

In [14]:
df.mean(axis=0)

c1    0.415699
c2    0.538390
c3    0.569421
dtype: float64

In [15]:
df.mean(axis=1)

a    0.498281
b    0.295390
c    0.554397
d    0.654004
e    0.358667
f    0.636839
g    0.546275
h    0.696176
i    0.583331
j    0.255007
dtype: float64

In [16]:
df.describe()

              c1         c2         c3
count  10.000000  10.000000  10.000000
mean    0.415699   0.538390   0.569421
std     0.208980   0.240664   0.201285
min     0.028701   0.209636   0.212565
25%     0.266307   0.355922   0.437522
50%     0.464526   0.477303   0.600068
75%     0.567832   0.689133   0.640685
max     0.658745   0.902395   0.953660

What if I want to go back to indexing using numbers?  .iloc to the rescue.

In [17]:
df.iloc[0:5]

         c1        c2        c3
a  0.171403  0.685214  0.638226
b  0.028701  0.361324  0.496144
c  0.480669  0.541017  0.641504
d  0.550829  0.690439  0.720744
e  0.448383  0.209636  0.417981

In [18]:
df.iloc[0:5,1:]

         c2        c3
a  0.685214  0.638226
b  0.361324  0.496144
c  0.541017  0.641504
d  0.690439  0.720744
e  0.209636  0.417981

In [19]:
newdf = df.iloc[0:5,1:]

In [20]:
newdf.describe()

             c2        c3
count  5.000000  5.000000
mean   0.497526  0.582920
std    0.209622  0.122700
min    0.209636  0.417981
25%    0.361324  0.496144
50%    0.541017  0.638226
75%    0.685214  0.641504
max    0.690439  0.720744

In [21]:
print(newdf.values)
newdf.shape

[[0.68521422 0.63822627]
 [0.36132448 0.49614438]
 [0.54101719 0.64150433]
 [0.6904387  0.72074442]
 [0.20963633 0.41798081]]

(5, 2)

In [22]:
newdf.to_csv("my_data.csv")

Lets take a moment to look at the .csv file.

In [23]:
fromcsv = pd.read_csv("my_data.csv")

In [24]:
pd.read_csv?

In [25]:
fromcsv

  Unnamed: 0        c2        c3
0          a  0.685214  0.638226
1          b  0.361324  0.496144
2          c  0.541017  0.641504
3          d  0.690439  0.720744
4          e  0.209636  0.417981

The index column itself had no name when we saved it.  Now it comes back as an unnamed column.

In [26]:
# fromcsv.rename?
fromcsv.columns

Index(['Unnamed: 0', 'c2', 'c3'], dtype='object')

In [27]:
fromcsv.rename({"Unnamed: 0":"Sample"}, axis=1)

  Sample        c2        c3
0      a  0.685214  0.638226
1      b  0.361324  0.496144
2      c  0.541017  0.641504
3      d  0.690439  0.720744
4      e  0.209636  0.417981

In [28]:
fromcsv = fromcsv.rename({"Unnamed: 0":"Sample"}, axis=1)

In [29]:
fromcsv

  Sample        c2        c3
0      a  0.685214  0.638226
1      b  0.361324  0.496144
2      c  0.541017  0.641504
3      d  0.690439  0.720744
4      e  0.209636  0.417981

In [30]:
fromcsv.set_index("Sample", inplace=True)

In [31]:
fromcsv

              c2        c3
Sample
a       0.685214  0.638226
b       0.361324  0.496144
c       0.541017  0.641504
d       0.690439  0.720744
e       0.209636  0.417981

In [32]:
fromcsv = pd.read_csv("my_data.csv", index_col = 0)

In [33]:
fromcsv

         c2        c3
a  0.685214  0.638226
b  0.361324  0.496144
c  0.541017  0.641504
d  0.690439  0.720744
e  0.209636  0.417981

So it looks like we could have spared ourselves all the trouble.  Nevertheless:  good exercise.

In [34]:
df

         c1        c2        c3
a  0.171403  0.685214  0.638226
b  0.028701  0.361324  0.496144
c  0.480669  0.541017  0.641504
d  0.550829  0.690439  0.720744
e  0.448383  0.209636  0.417981
f  0.594875  0.902395  0.413246
g  0.658745  0.413589  0.566491
h  0.573500  0.881381  0.633645
i  0.442214  0.354121  0.953660
j  0.207672  0.344785  0.212565

In [35]:
df.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

In [36]:
df.index.name = "Samples"

In [37]:
df

               c1        c2        c3
Samples
a        0.171403  0.685214  0.638226
b        0.028701  0.361324  0.496144
c        0.480669  0.541017  0.641504
d        0.550829  0.690439  0.720744
e        0.448383  0.209636  0.417981
f        0.594875  0.902395  0.413246
g        0.658745  0.413589  0.566491
h        0.573500  0.881381  0.633645
i        0.442214  0.354121  0.953660
j        0.207672  0.344785  0.212565

In [38]:
df.rename({'c1':'Jan', 'c2':'Feb', 'c3':'Mar'}, axis=1, inplace = True)

In [39]:
df

              Jan       Feb       Mar
Samples
a        0.171403  0.685214  0.638226
b        0.028701  0.361324  0.496144
c        0.480669  0.541017  0.641504
d        0.550829  0.690439  0.720744
e        0.448383  0.209636  0.417981
f        0.594875  0.902395  0.413246
g        0.658745  0.413589  0.566491
h        0.573500  0.881381  0.633645
i        0.442214  0.354121  0.953660
j        0.207672  0.344785  0.212565

In [40]:
df.columns

Index(['Jan', 'Feb', 'Mar'], dtype='object')

In [41]:
df.columns.name = "Months"

In [42]:
df

Months        Jan       Feb       Mar
Samples
a        0.171403  0.685214  0.638226
b        0.028701  0.361324  0.496144
c        0.480669  0.541017  0.641504
d        0.550829  0.690439  0.720744
e        0.448383  0.209636  0.417981
f        0.594875  0.902395  0.413246
g        0.658745  0.413589  0.566491
h        0.573500  0.881381  0.633645
i        0.442214  0.354121  0.953660
j        0.207672  0.344785  0.212565